* {
    margin: 0;
    padding: 0;
}

body {
    color: #404040;
    font-family: Tahoma;
    background-image: url(../../../../../img/bg1.png);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129,179,243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.container{
    max-width: 90%;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background: rgba(255,255,255,.8);
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 12px rgba(61,172,244, .6);
}

.board{
    width: 96%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: rgba(255,255,255, .8);
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(61,172,244,.6);
    padding: 0;
    overflow-x: auto;
}

.board img{
    width: 400px;
    height: 350px;
    margin-right: 15px;
    margin-left: 3%;
}

.board h4{
    font-weight: 500;
    font-family: Tahoma;
    font-size: 20px;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid rgba(61,172,244,.6);
}

thead td{
    font-size: 24px;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: #ffff;
    background: rgba(255,255,255, .8);
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
    border-left: 1px solid rgba(61,172,244,.6);;
}

td{
    width: 50%;
}


.accion a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    color: #1a3b54;
    font-weight: 600;
}
.container .new-g{
    font-size: 30px;
    font-family: Tahoma;
    font-weight: 500;
}

.container span{
    font-size: 18px;
    color: #1a3b54;
    font-family: Tahoma;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box textarea{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #1a3b54;
    padding-left: 15px;
    font-size: 16px;
    font-family: Tahoma;
    border-bottom-width: 2px;
    transition: all 0.3s;
}


.user-details .input-box textarea:focus, .user-details .input-box textarea:valid{
    border-color: #84c42c;
}

.input-box textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 12px rgba(132,196,44, .8);
}

.btn-b{
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(129,179,243, .8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 50%;
    float: right;
}

@media (max-width: 750px) {
    .btn-b {
      width: 10%;
    }
  }

@media (max-width: 750px) {
    .container{
      width: 90%;
      margin-right: 150px;
    }
}

.btne{
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, rgba(129,179,243, .8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 20px;
}

.btn-b i {
    font-size: 25px;

}


.btn-grd{
    width: 20%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(129,179,243, .8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 30px;
}

h3{
    text-align: center;
    font-size: 20px;
    font-family: Tahoma;
}


.cd{
    width: 47%;
    box-shadow: 0 0 12px rgba(132,196,44, .8);
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
    height: 450px;
    font-family: Tahoma;
    outline: none;
}

.cd::placeholder{
    position: relative;
    top: 10px;
    left: 10px;
}

.editor{
    width: 47%;
    box-shadow: 0 0 12px rgba(132,196,44, .8);
    text-decoration: none;
    margin-top: 10px;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 450px;
    background: white;
}

.editor-container {
    width: 1000px;
    height: 500px;
    margin: 20px auto 40px auto;
    position: relative;
}
  
#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 17px;
    border-radius: 10px;
}
