html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 100%;
  height: 17rem;
  border-radius: 0 0 20px 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(132, 196, 44, 0.6);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #ffffff;
  background-color: #dfe5f2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  margin-top: 4px;
  width: 135%;
  height: 166px;
  position: relative;
  border-radius: 50%;
  margin-left: -17%;
}

.seccion-perfil-usuario .perfil-usuario-footer .boton-avatar {
  position: absolute;
  right: 10px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .boton-avatar {
  position: absolute;
  right: 10px;
  top: 30px;
  border: 0;
  background-color: rgba(132, 196, 44, 0.9);
  width: 140px;
  height: 35px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 17px;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: -2px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-usuario-header .upload {
  width: 125px;
  position: relative;
  margin: auto;
}

.perfil-usuario-header .upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 12px rgba(61, 172, 244);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.perfil-usuario-header .upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 90%;
  position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: black;
  font-size: 30px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: left;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 30%;
}

.seccion-perfil-usuario .lista-datos {
  width: 100%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }
}
@media (max-width: 750px) {
  .body .container {
    width: 95%;
  }
}
.body {
  display: flex;
  min-height: 56vh;
}

.lati {
  position: relative;
  width: 35%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 1%;
  height: 100%;
}

.lati .dos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.lati .dos1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 5%;
}

.lati .lista-datos {
  width: 100%;
  list-style: none;
}

.lati .lista-datos li {
  padding: 5px 0;
}

.lati .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.latd {
  position: relative;
  width: 56%;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 1.5%;
  height: auto;
  margin-bottom: 25px;
}

.latd .card {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;

  height: 250px;
  border-radius: 20%;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border: solid 1px rgba(61, 172, 244, 0.4);
  background-color: #fff;
  margin-right: 5%;
  margin-left: 3%;
  margin-bottom: 50px;
}
.latd .card a {
  text-decoration: none;
}
.titlec {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.latd .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px black;
}

.latd .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.latd .card .container {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin: auto 0;
}

.latd .card .container .box {
  width: 100%;
  scale: 90%;
  padding-top: 15px;
}

.latd .card .container .box h2 {
  display: block;
  text-align: center;
  color: #000000;
}

.latd .card .container .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  height: 160px;
  color: #000000;
}

.latd .card .container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  .card {
    margin-top: 20px;
    width: 90%;
  }
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #191919;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #191919;
}

.text {
  position: relative;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 1.5s;
}

.card:hover .text {
  color: #191919;
}

.box svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.box svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #191919;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(7) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(8) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(9) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(10) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(11) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(12) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(13) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(14) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(15) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}

.val-box {
  width: 100%;
  height: 340px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  border-color: #191919;
}

.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fondo {
  width: 100%;
  height: 17rem;
  border-radius: 0 0 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Cambiar foto de perfil 

.upload{
  width: 125px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
} */

.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

.board {
  width: 96%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  padding: 0;
  overflow-x: auto;
}

.board img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.board h5 {
  font-weight: 500;
  font-family: Tahoma;
  font-size: 14px;
}

.board p {
  font-weight: 400;
  font-size: 13px;
  color: #1a3b54;
}

.board .nombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

.portada::-webkit-scrollbar {
  -webkit-appearance: none;
}

.portada::-webkit-scrollbar:vertical {
  width: 10px;
}

.portada::-webkit-scrollbar-button:increment,
.portada::-webkit-scrollbar-button {
  display: none;
}

.portada::-webkit-scrollbar:horizontal {
  height: 10px;
}

.portada::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.portada::-webkit-scrollbar-track {
  border-radius: 10px;
}
