* {
  margin: 0;
  padding: 0;
}

body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  font-family: Tahoma;
  margin-left: 54%;
  top: 30%;
}

.igm {
  width: 90%;
  height: auto;
  position: absolute;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
}

.gif {
  width: 550px;
  height: 550px;
  top: 130%;
  margin-left: 5%;
  position: absolute;
}

.gif1 {
  width: 550px;
  height: 550px;
  top: 340%;
  margin-left: 53%;
  position: absolute;
}

.gif2 {
  width: 550px;
  height: 550px;
  top: 560%;
  margin-left: 3%;
  position: absolute;
}

.containers {
  max-width: 95%;
  width: 91%;
  height: 25px;
  padding: 25px 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 40px;
  margin-top: 40px;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  margin-bottom: 40px;
  text-align: center;
  font-family: Tahoma;
  font-size: 25px;
}

.container {
  max-width: 95%;
  width: 91%;
  height: 4700px;
  padding: 25px 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 40px;
  margin-top: 40px;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  margin-bottom: 40px;
}

.btn0 {
  position: absolute;
  top: 43%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNKL.png);
}

.btn0:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn1 {
  position: absolute;
  top: 63%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNBIEN1.png);
}
.btn1:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn2 {
  position: absolute;
  top: 83%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNINTRO1.png);
}
.btn2:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn3 {
  position: absolute;
  top: 113%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn3:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn4 {
  position: absolute;
  top: 133%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn4:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn5 {
  position: absolute;
  top: 153%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn5:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn6 {
  position: absolute;
  top: 183%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn6:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn7 {
  position: absolute;
  top: 203%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn7:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn8 {
  position: absolute;
  top: 223%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn8:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn9 {
  position: absolute;
  top: 253%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn9:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn10 {
  position: absolute;
  top: 273%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn10:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn11 {
  position: absolute;
  top: 293%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn11:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn12 {
  position: absolute;
  top: 323%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn12:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn13 {
  position: absolute;
  top: 343%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn13:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn14 {
  position: absolute;
  top: 363%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn14:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn15 {
  position: absolute;
  top: 393%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNEV1.png);
}
.btn15:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn16 {
  position: absolute;
  top: 413%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNINTRO1.png);
}
.btn16:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn17 {
  position: absolute;
  top: 433%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn17:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn18 {
  position: absolute;
  top: 463%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn18:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn19 {
  position: absolute;
  top: 483%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn19:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn20 {
  position: absolute;
  top: 503%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNTEO1.png);
}
.btn20:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn21 {
  position: absolute;
  top: 533%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNJU.png);
}
.btn21:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn22 {
  position: absolute;
  top: 553%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn22:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn23 {
  position: absolute;
  top: 573%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNEV1.png);
}
.btn23:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn24 {
  position: absolute;
  top: 603%;
  margin-left: 50%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNINTRO1.png);
}
.btn24:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn25 {
  position: absolute;
  top: 623%;
  margin-left: 40%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNPRA1.png);
}
.btn25:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn26 {
  position: absolute;
  top: 643%;
  margin-left: 30%;
  height: 117px;
  width: 117px;
  border-radius: 50%;
  border: none;
  color: transparent;
  background-image: url(../img/BTNEV1.png);
}
.btn26:hover {
  box-shadow: 0 10px 10px rgba(129, 179, 243);
  transform: scale(1.05);
}

.btn-b {
  width: 5%;
  height: 40px;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

.btn-b i {
  font-size: 20px;
}


